<!doctype html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }}<br>{{ form.username() }}</p>
        <p>{{ form.password.label }}<br>{{ form.password() }}</p>
        <p>{{ form.submit(value='Login') }}</p>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <p style="color: red">{{ message }}</p>
      {% endfor %}
    {% endwith %}

    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
</body>
</html>
